In [ ]:
# Q1.
# ANS-
# Database is an organized collection of data and information or interrelated data collected at one place.
# In a database, data is organized into tables consisting of rows and columns and it is indexed so data can be updated, expanded, and deleted easily. 
# Python supports various databases like SQLite, MySQL, Oracle, Sybase, PostgreSQL, etc. Python also supports Data Definition Language (DDL), Data Manipulation Language (DML) and Data Query Statements. The Python standard for database interfaces is the Python DB-API.

# Differece b/w SQL and NoSQL- 
# SQL- 
# 1.RELATIONAL DATABASE MANAGEMENT SYSTEM (RDBMS).
# 2.These databases have fixed or static or predefined schema.
# 3.These databases are not suited for hierarchical data storage.
# Examples: MySQL, PostgreSQL, Oracle, MS-SQL Server, etc.

# NoSQL-
# Non-relational or distributed database system.
# 1.They have dynamic schema.
# 2.These databases are best suited for hierarchical data storage.
# 3.These databases are not so good for complex queries.
# Examples: MongoDB, GraphQL, HBase, Neo4j, Cassandra, etc.

In [1]:
# Q2.
# ANS-
# DDL (Data Definition Language) actually consists of the SQL commands that can be used to define the database schema. It simply deals with descriptions of the database schema and is used to create and modify the structure of database objects in the database. DDL is a set of SQL commands used to create, modify, and delete database structures but not data. These commands are normally not used by a general user, who should be accessing the database via an application.

# CREATE:- This command is used to create the database or its objects (like table, index, function, views, store procedure, and triggers).
# example-
# CREATE TABLE Student_info
# (
# College_Id number(2),
# College_name varchar(30),
# Branch varchar(10)
# );

# DROP:-This command is used to delete objects from the database.
# example-
# DROP TABLE Student_info;

# ALTER:- This is used to alter the structure of the database.
# exxample-
# ALTER TABLE Student_info
# ADD CGPA number;

# TRUNCATE:- This is used to remove all records from a table, including all spaces allocated for the records are removed.
# example-
# TRUNCATE TABLE Student_info;

In [2]:
# Q3.
# ANS- 
# DML is an abbreviation of Data Manipulation Language.

# The DML commands in Structured Query Language change the data present in the SQL database. We can easily access, store, modify, update and delete the existing records from the database using DML commands.

# 1.INSERT:- 
# INSERT is most important data manipulation command in Structured Query Language, which allows users to insert data in database tables.
# syntax -INSERT INTO TABLE_NAME ( column_Name1 , column_Name2 , column_Name3 , .... column_NameN )  VALUES (value_1, value_2, value_3, .... value_N ) ;   
# example - 
# INSERT INTO Students(StudentId, StudentName, DepartmentId, DateOfBirth)
#               VALUES(11, 'Ahmad', 4, '1997-10-12');

# INSERT INTO Students VALUES(12, 'Aly', 4, '1996-10-12');

# 2.UPDATE:-
# UPDATE is most important data manipulation command in Structured Query Language, which allows users to update or modify the existing data in database tables.
# syntax - UPDATE Table_name SET [column_name1= value_1, â€¦.., column_nameN = value_N] WHERE CONDITION;  
# example - 
# UPDATE Students
# SET DepartmentId = 3 
# WHERE StudentId = 6;

# 3.DELETE- 
# DELETE is a DML command which allows SQL users to remove single or multiple existing records from the database tables.
# This command of Data Manipulation Language does not delete the stored data permanently from the database. We use the WHERE clause with the DELETE command to select specific rows from the table.
# syntax - DELETE FROM Table_Name WHERE condition;  
# example-
# DELETE FROM Students WHERE StudentId = 11 OR StudentId = 12;

In [3]:
# Q4.
# ANS- 
# DQL statements are used for performing queries on the data within schema objects. The purpose of the DQL Command is to get some schema relation based on the query passed to it. We can define DQL as follows it is a component of SQL statement that allows getting data from the database and imposing order upon it. It includes the SELECT statement. This command allows getting the data out of the database to perform operations with it. When a SELECT is fired against a table or tables the result is compiled into a further temporary table, which is displayed or perhaps received by the program i.e. a front-end.

# SELECT - This is the same as the projection operation of relational algebra. It is used to select the attribute based on the condition described by WHERE clause.
# syntax - 
# SELECT expressions    
# FROM TABLES    
# WHERE conditions;  

# example - 
# SELECT emp_name  
# FROM employee  
# WHERE age > 20;

In [4]:
# Q5.
# ANS- 
# 1.Primary Key -
# The primary key is a unique or non-null key that uniquely identifies every record in a table or relation. Each database needs a unique identifier for every row of a table, and the primary key plays a vital role in identifying rows in the table uniquely. The primary key column can't store duplicate values. It is also called a minimal super key; therefore, we cannot specify more than one primary key in any relationship.
# For example, we have a table named customer with attributes such as ID, Name, and City. Only the ID column can never contain duplicate and NULL values because each customer has a unique identification number. This feature helps to identify each record in the database uniquely. Hence, we can make the ID attribute a primary key.

# 2.Foreign Key- 
# The foreign key is a group of one or more columns in a database to uniquely identify another database record in some other table to maintain the referential integrity. It is also known as the referencing key that establishes a relationship between two different tables in a database. A foreign key always matches the primary key column in another table. It means a foreign key column in one table refers to the primary key column of another table. A foreign key is beneficial in relational database normalization, especially when we need to access records from other tables.
# For example, we have a table named contact with attributes such as ID, Customer_Id, Customer_Info, and Type. Here we can make the Customer_Id column a foreign key.

In [5]:
# Q6.
# ANS- 
# import mysql.connector
# mydb = mysql.connector.connect(
#   host="localhost",
#   user="abc",
#   password="password"
# )
# mycursor = mydb.cursor()
# mycursor.execute("CREATE DATABASE if not exists test2")
# mydb.close()

# 1.cursor():-
# Cursor is a Temporary Memory or Temporary Work Station. It is Allocated by Database Server at the Time of Performing DML(Data Manipulation Language) operations on Table by User. Cursors are used to store Database Tables. There are 2 types of Cursors: Implicit Cursors, and Explicit Cursors. These are explained as following below.

# Implicit Cursors:-
# Implicit Cursors are also known as Default Cursors of SQL SERVER. These Cursors are allocated by SQL SERVER when the user performs DML operations.

# Explicit Cursors :-
# Explicit Cursors are Created by Users whenever the user requires them. Explicit Cursors are used for Fetching data from Table in Row-By-Row Manner.
# How to create Explicit Cursor:
    
# 2.execute():-
# The Execute method executes a specified query, SQL statement, stored procedure, or provider-specific text.
# The results are stored in a new Recordset object if it is a row-returning query. A closed Recordset object will be returned if it is not a row-returning query.

In [ ]:
Q7.
ANS-
The order of execution is given as -
1. from - Choose and join tables to get base data.
2. where - Filters the base data.
3. group by- aggregates the base data.
4. having - Filters the aggregated data.
5. select - Returns the final data.
6. order by - Sort the final data.
7. limit - Limits the returned data to a row count.